.start-screen {
    background-color: #404040;
    width: 100vh;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    img {
        height: 100vh;
    }
}

.start-label-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    display: flex;
    justify-content: center;
    width: 100%;

    img {
        width: 100px;
        height: auto;

        &:hover {
            filter: brightness(1.5);
            cursor: pointer;
        }
    }
}